h1{
    color: blue;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: bold;
        
}
.p1{
    color: red;
    background-color: lightblue;
}
.p2{
    color: green;
    background-color: lightblue;
}
.p3{
    color: red;
    background-color: black;
}
