*{
    border: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
        margin: 30px;
    box-sizing: content-box;
    text-align: center; 
    border-color: rgb(218, 31, 14);
    font-family: 'Arial Black', Gadget, sans-serif;
    border-style: solid;
    border-left-color: aquamarine;
    border-right-color: black;
    border-top-color: blue;
    border-bottom-color: brown;
    border-width: 10px;
}

.r1{
    color: red;
    background-color: lightblue;
    text-align: center;
}
